{# templates/player/members.html.twig #}
{% include 'header.html.twig' %}

    <h1>Licenciés</h1>

    <table class="table">
        <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Licence</th>
        <th>N° club</th>
        <th>Club</th>
        <th>Sexe</th>
        <th>Echelon</th>
        <th>Place</th>
        <th>Point</th>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.nom }}</td>
                <td>{{ member.prenom }}</td>
                <td>{{ member.licence }}</td>
                <td>{{ member.club }}</td>
                <td>{{ member.nclub }}</td>
                <td>{{ member.sexe }}</td>
                <td>{{ member.echelon }}</td>
                <td>{{ member.place }}</td>
                <td>{{ member.points }}</td>
                <td><a href="{{ path('player', {'idPlayer' : member.licence}) }}">Details</a></td>
                <!-- TODO on en fait quoi de ça ...
                <td>{# {% if  member.type == "T" %}
                    <a href="{{ path('player', {'idPlayer' : member.licence}) }}">Details</a>
                {% endif %}</td>#}
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% include 'footer.html.twig' %}