{# templates/player/member.html.twig #}
<h1>Licencié</h1>

<ul>
    <li>{{ member.licence }}</li>
    <li>{{ member.nom }}</li>
    <li>{{ member.prenom }}</li>
    <li>{{ member.club }}</li>
    <li>{{ member.nclub }}</li>
</ul>