{# templates/player/players.html.twig #}
<div class="container">
    <h1>Liste joueurs</h1>
    <table class="table">
        <thead>
            <th>N°</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Club</th>
            <th>N° club</th>
            <th>Dernier classement</th>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.licence }}</td>
                <td>{{ player.nom }}</td>
                <td>{{ player.prenom | convert_encoding('iso-8859-1', 'UTF-8')}}</td>
                <td>{{ player.club }}</td>
                <td>{{ player.nclub }}</td>
                {% if player.clast is defined %}
                    <td>{{ player.clast }}</td>
                {% endif %}
                <td><a href="{{ path('player', {'idPlayer' : player.licence}) }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
