{# templates/player/player.html.twig #}
{% include 'header.html.twig' %}

    <h1>Joueur</h1>

    <ul>
        <li>Licence {{ member.licence }}</li>
        <li>Nom {{ player.nom }}</li>
        <li>Prénom {{ player.prenom }}</li>
        <li>Nom club <a href="{{ path('club', {'idClub' : member.numclub}) }}">{{ member.nomclub }}</a></li>
        <li>Numéro club {{ member.numclub }}</li>
        <li>Nationnalité {{ member.natio }}</li>
        <li>Classement global {{ player.clglob }}</li>
        <li>Points {{ member.pointm }}</li>
        <li>Ancien classement global {{ player.aclglob }}</li>
        <li>Ancien points {{ member.apointm }}</li>
        <li>dernier classement {{ player.clast }}</li>
        <li>catégorie ({{ member.cat }})</li>
        <li>rang régional {{ player.rangreg }}</li>
        <li>rang départemental {{ player.rangdep }}</li>

        <li>ID licence {{ member.idlicence }}</li>
        <li>sexe {{ member.sexe }}</li>
        <li>type (T ou P) {{ member.type }}</li>
        <li>certification (C N Q)  {{ member.certif }}</li>
        <li>date de validation {{ member.validation }}
        {% if member.echelon != '' %}
            <li>echelon N ou rien {{ member.echelon }}</li>
        {% endif %}
        {% if member.place != '' %}
            <li>place si numéroté {{ member.place }}</li>
        {% endif %}

        <li>point {{ member.point }}</li>
        <li>Valeur initiale {{ member.initm }}</li>
        {% if member.mutation != '' %}
            <li>Mutation {{ member.mutation }}</li>
        {% endif %}
        {% if member.arb != '' %}
            <li>dernier grade d'arbitre {{ member.arb }}</li>
        {% endif %}
        {% if member.tech != '' %}
            <li>dernier grade de juge arbitre {{ member.tech }}</li>
        {% endif %}
        {% if member.ja != '' %}
            <li>dernier grade de technicien {{ member.ja }}</li>
        {% endif %}
    </ul>

{% include 'footer.html.twig' %}