{# templates/team/games.html.twig #}
{% include 'header.html.twig' %}

<h1>Détails des matchs</h1>
<div class="row">
    <div class="col-xs-5">
        {% include 'game/players.html.twig' with {'players': players['A']} %}
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-5">
        {% include 'game/players.html.twig' with {'players': players['B']} %}
    </div>
    <div class="w-100"></div>
    {% for game in games %}
        <div class="col-xs-4">{{ game.ja }}</div>
        <div class="col-xs-2">-</div>
        <div class="col-xs-4">{{ game.jb }}</div>
        <div class="col-xs-1">{{ game.scorea }}</div>
        <div class="col-xs-1">{{ game.scoreb }}</div>
        <div class="w-100"></div>
    {% endfor %}

    <div class="col-xs-4">{{ result[0].equa }}</div>
    <div class="col-xs-2">-</div>
    <div class="col-xs-4">{{ result[0].equb }}</div>
    <div class="col-xs-1">{{ result[0].resa }}</div>
    <div class="col-xs-1">{{ result[0].resb }}</div>
</div>

{% include 'footer.html.twig' %}