{# templates/team/pools.html.twig #}
<div class="container">
    <h1>Liste des différents poules</h1>

    {% for pool in pools %}
        <ul>
            <li>{{ pool.lien }}</li>
            <li>{{ pool.libelle }}</li>
        </ul>
    {% endfor %}
</div>