{# templates/team/ranks.html.twig #}
{% include 'header.html.twig' %}

    <h1>Classement</h1>
    <div class="row">
        <script src="{{ asset('build/js/pool.js') }}"></script>
        <div class="form-group">
            <label for="pool_select">Choisir la poule</label>
            <select id="pool_select" class="form-control">
                {% if labels|length > 0 %}
                    <option value=""></option>
                    {% for index, label in labels %}
                        <option value="{{ index }}">{{ label.labelDivision }}</option>
                    {% endfor %}
                {% else %}
                    <option>Aucune équipe disponible</option>
                {% endif %}
            </select>
        </div>

        {% for key, rank in ranks %}
            <div id="pool_{{ key }}" class="col-xs-12 pool">
            {{ labels[key].labelDivision }}
                <table class="table">
                    <thead>
                        <th>N°</th>
                        <th>Equipe</th>
                        <th>Rencontre joués</th>
                        <th>Points</th>
                        <th>Total match victorieux</th>
                        <th>Total match defaites</th>
                        <th>idEquipe</th>
                        {#<th>idClub</th>#}
                        <th>Victoire</th>
                        <th>Défaite</th>
                        <th>Nul</th>
                        <th>PF</th>
                        <th>PG</th>
                        <th>PP</th>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for pool in rank %}
                            {% if i == 1 or i == 2 %}
                                <tr class="table-success">
                            {% elseif labels[key].isDown == true and (i == rank|length or i == rank|length - 1) %}
                                <tr class="table-danger">
                            {% else %}
                                <tr>
                            {% endif %}
                                    <td>{{ pool.clt }}</td>
                                    <td><a href="{{ path('club', {'idClub' : pool.numero}) }}">{{ pool.equipe }}</a></td>
                                    <td>{{ pool.joue }}</td>
                                    <td>{{ pool.pts }}</td>
                                    <td>{{ pool.totvic }}</td>
                                    <td>{{ pool.totdef }}</td>
                                    <td>{{ pool.idequipe }}</td>
                                    {#<td>{{ pool.idclub }}</td>#}
                                    <td>{{ pool.vic }}</td>
                                    <td>{{ pool.def }}</td>
                                    <td>{{ pool.nul }}</td>
                                    <td>{{ pool.pf }}</td>
                                    <td>{{ pool.pg }}</td>
                                    <td>{{ pool.pp }}</td>
                                </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'team/rounds.html.twig' with {'rounds': rounds[key]} %}
            </div>
        {% endfor %}
    </div>

{% include 'footer.html.twig' %}