{# templates/team/rounds.html.twig #}

<h1>Résultats par journée</h1>

{% for round in rounds %}
    {% if round.show is not empty and round.show == 1 %}
        <h3>{{ round.libelle }}</h3>
    {% endif %}
    <div class="row">
        <div class="col-4">{{ round.equa }}</div>
        <div class="col-1">{{ round.scorea }}</div>
        <div class="col-2">-</div>
        <div class="col-1">{{ round.scoreb }}</div>
        <div class="col-4">{{ round.equb }}<a href="{{  path('match', {'params' : round.lien}) }}">+</a></div>
        {% if round.dateprevue != round.datereelle %}
            <div>{{ round.dateprevue }}</div>
            <div>{{ round.datereelle }}</div>
        {% endif %}
    </div>
{% endfor %}
