{# templates/team/teams.html.twig #}
{% include 'header.html.twig' %}

    {% block javascripts %}
        <script src="{{ asset('build/js/team/team.js') }}"></script>
    {% endblock %}

    <div id="teams">
        <h1>Liste des différentes équipes</h1>

        {% for team in teams %}
            <ul>
                <li>{{ team.libequipe }}</li>
                <li>{{ team.libdivision }}</li>
                <li>{{ team.liendivision }}<button class="division" value="{{ team.liendivision }}">Details</button></li>
                <li>{{ team.idepr }}</li>
                <li>{{ team.libepr }}</li>
            </ul>
        {% endfor %}
    </div>

{% include 'footer.html.twig' %}