{# templates/single/games.html.twig #}
<h1>Liste des différents poules</h1>

{% for game in games %}
    <ul>
        <li>{{ game.libelle }}</li>
        <li>{{ game.vain }}</li>
        <li>{{ game.perd }}</li>
        <li>{{ game.forfait }}</li>
    </ul>
{% endfor %}