{# templates/single/ranks.html.twig #}
<h1>Liste des différents classements</h1>

{% for rank in ranks %}
    <ul>
        <li>{{ rank.rang }}</li>
        <li>{{ rank.nom }}</li>
        <li>{{ rank.clt }}</li>
        <li>{{ rank.club }}</li>
        <li>{{ rank.points }}</li>
    </ul>
{% endfor %}