{# templates/single/rounds.html.twig #}
<h1>Liste des différents tours</h1>

{% for round in rounds %}
    <ul>
        <li>{{ round.libelle }}</li>
        <li>{{ round.lien }}</li>
        <li>{{ round.date }}</li>
    </ul>
{% endfor %}