{# templates/story/stories.html.twig #}
{% include 'header.html.twig' %}

    <h1>Liste des dernières actualités</h1>

    <div class="row">
        <div id="carouselExample" class="carousel" data-ride="carousel">
            <div class="carousel-inner">
                {% for story in stories %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img class="d-block w-100 col-sm-7" src="{{ story.photo }}" alt="slide">
                            <div class="carousel-caption">
                                <h2><a href="{{ story.url }}">{{ story.titre }}</a></h2>
                                <p>{{ story.date }}</p>
                                <p>{{ story.description }}</p>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% include 'footer.html.twig' %}