{# templates/match/matchs.html.twig #}
<div class="container">
    <h1>Matchs</h1>

    {% for match in matchs %}
        <ul>
            <li>{{ match.licence }}</li>
            <li>{{ match.advlic }}</li>
            <li>{{ match.vd }}</li>
            <li>{{ match.numjourn }}</li>
            <li>{{ match.codechamp }}</li>
            <li>{{ match.date }}</li>
            <li>{{ match.advsexe }}</li>
            <li>{{ match.advnompre }}</li>
            <li>{{ match.pointres }}</li>
            <li>{{ match.coefchamp }}</li>
            <li>{{ match.advclaof }}</li>
        </ul>
    {% endfor %}
</div>