{# templates/division/divisions.html.twig #}
<div class="container">
    <h1>Liste des différents clubs</h1>

    {% for division in divisions %}
        <ul>
            <li>{{ division.iddivision }}</li>
            <li>{{ division.libelle }}</li>
        </ul>
    {% endfor %}
</div>