{# templates/result/results.html.twig #}
<div class="container">
    <h1>Résultats</h1>

    {% for result in results %}
        <ul>
            <li>{{ result.date }}</li>
            <li>{{ result.nom }}</li>
            <li>{{ result.classement }}</li>
            <li>{{ result.epreuve }}</li>
            <li>{{ result.victoire }}</li>
            <li>{{ result.forfait }}</li>
        </ul>
    {% endfor %}
</div>