{# templates/trial/trials.html.twig #}
<h1>Liste des différents organismes</h1>

{% for trial in trials %}
    <ul>
        <li>{{ trial.idepreuve }}</li>
        <li>{{ trial.idorga }}</li>
        <li>{{ trial.libelle }}</li>
    </ul>
{% endfor %}