{# templates/game/players.html.twig #}
<table>
    <thead>
        <tr>
            <th>NOM - PRENOM</th>
            <th>Points</th>
            <th>Sexe</th>
        </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <td>{{ player.joueur }}</td>
            <td>{{ player.points }}</td>
            <td>{{ player.sexe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>