{# templates/organism/organisms.html.twig #}
<div class="container">
    <h1>Liste des différents organismes</h1>

    {% for organism in organisms %}
        <ul>
            <li>{{ organism.libelle }}</li>
            <li>{{ organism.id }}</li>
            <li>{{ organism.code }}</li>
            <li>{{ organism.idpere }}</li>
        </ul>
    {% endfor %}
</div>