{# templates/club/clubs.html.twig #}
<div class="container">
    <h1>Liste des différents clubs</h1>

    {% for club in clubs %}
        <ul>
            <li>{{ club.idclub }}</li>
            <li>{{ club.numero }}</li>
            <li><a href="{{ path('club', {'idClub' : club.numero}) }}">{{ club.nom }}</a></li>
            <li>{{ club.validation }}</li>
        </ul>
    {% endfor %}
</div>