{# templates/search/searchClub.html.twig #}
{% include 'header.html.twig' %}

    <div id="search">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Nom" name="srch-term" id="srch-term" type="text"><br />
            <input class="form-control" placeholder="Département" name="srch-department" id="srch-department" type="text">
            <div class="input-group-btn">
                <button id="btn_search" class="btn btn-default">a<i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#btn_search').click(function() {
                $.post(
                    "/club",
                    {
                        name: $('#srch-term').val(),
                        department: $('#srch-department').val()
                    }
                ).done(function(data) {
                    $('#search').html(data);
                });
            });
        });
    </script>

{% include 'footer.html.twig' %}