{# templates/search/searchPlayer.html.twig #}
{% include 'header.html.twig' %}

<form class="navbar-form" role="search">
    <div class="input-group add-on">
        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% include 'footer.html.twig' %}