{# templates/historic/historics.html.twig #}
<div class="container">
    <h1>Historiques</h1>

    {% for historic in historics %}
        <ul>
            <li>{{ historic.echelon }}</li>
            <li>{{ historic.place }}</li>
            <li>{{ historic.point }}</li>
            <li>{{ historic.saison }}</li>
            <li>{{ historic.phase }}</li>
        </ul>
    {% endfor %}
</div>