{# templates/footer.html.twig #}
        </div>
        <footer class="page-footer">
            {#Copyright#}
            <div class="row">
                <div class="col-12 text-center">
                    <p>© 2022 Copyright par T2T Saint Barthélemy d'Anjou, tous droits réservés</p>
                </div>
            </div>
            {#/.Copyright#}
        </footer>
        <script type="text/javascript">
            document.getElementById('copyright').append(new Date().getFullYear());
        </script>
    </body>
</html>