{# templates/header.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" lang="fr" content="Saint Barthélemy d'Anjou, ping pong, tennis de table, T2T, club, Saint barth">
        <meta name="description" content="Présentation, horaires, adresse du club de tennis de table T2T Saint Barthélémy d'Anjou" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="text/javascript" src="/lib/css/fontawesome-free-6.0.0-web/js/all.min.js"></script>
        <script type="text/javascript" src="/lib/js/popper.min.js"></script> <!-- Vide donc inutile ? -->
        <script type="text/javascript" src="/lib/css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/js/swiper-8.0.6/js/swiper.min.js"></script>

        <title>T2T Saint Barthélemy</title>
    {% block stylesheets %}
        <link rel='stylesheet' href="/assets/css/fontRoboto.css">
        <link rel="stylesheet" href="/lib/css/fontawesome-free-6.0.0-web/css/fontawesome.min.css" />
        <link rel="stylesheet" href="/lib/css/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/lib/js/swiper-8.0.6/css/swiper.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    {% endblock %}

    <style type="text/css">
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
    </head>
    <body>
        <header class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
                    <a href="{{ path('home') }}">
                        <img height="56" width="56" src="/images/ASCSB Tennis de Table.png" alt="Tennis 2 Table Saint Barthélemy d'Anjou">
                    </a>
                </div>

                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                    <nav class="navbar navbar-expand">
                        <!-- <ul class="navbar-nav mr-auto"> -->
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarClub" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le Club</a>
                                <div class="dropdown-menu" aria-labelledby="navbarClub">
                                    <a class="dropdown-item" href="{{ path('history') }}">L'histoire du club</a>
                                    {# TODOOOOOOO NE pas mettre en dur  #}
                                    <a class="dropdown-item" href="{{ path('club', {'idClub' : 12490062}) }}">Le club</a>
                                    <a class="dropdown-item" href="{{ path('list_members', {'idClub' : 12490062}) }}">Les licenciés</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('list_clubs_by_department', {'numDepartment' : 49}) }}">Clubs du département</a>
                                    {# TODOOOOOOO #}
                                    {#<a class="dropdown-item" href="{{ path('search_player') }}">Chercher joueur</a>#}
                                    {# TODOOOOOOO #}
                                    {#<a class="dropdown-item" href="{{ path('search_club') }}">Chercher club</a>#}
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarChampionnat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Championnats</a>
                                <div class="dropdown-menu" aria-labelledby="navbarChampionnat">
                                    <a class="dropdown-item" href="{{ path('championship_senior') }}">Championnat Senior</a>
                                    <a class="dropdown-item" href="{{ path('championship_junior') }}">Championnat Junior</a>
                                    <a class="dropdown-item" href="{{ path('championship_veteran') }}">Championnat Vétéran</a>
                                    <a class="dropdown-item" href="{{ path('championship_anjou_cup') }}">Coupe de l'Anjou</a>
                                    {# TODOOOOOOO #}
                                    <!--<a class="dropdown-item" href="{{ path('championship_criterium') }}">Critérium fédéral</a>-->
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <a href="mailto:t2t.stbarth@gmail.com" class="btn btn-outline-primary">
                        Contact <i class="d-none d-sm-inline-block fa-solid fa-comment-dots"></i>
                    </a>                    
                    <a href="https://www.facebook.com/T2TStBarth" target="_blank" class="btn btn-primary">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <!--<a href="https://www.facebook.com/groups/997818450309397" target="_blank" class="btn btn-primary">
                        <i class="fa-brands fa-facebook"></i>
                    </a>-->
                    <a href="https://www.instagram.com/t2tstbarth/" target="_blank" class="btn btn-primary">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.tiktok.com/@t2tstbarth" target="_blank" class="btn btn-primary">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
        </header>
            <div class="container">
