{# templates/history.html.twig #}
{% include 'header.html.twig' %}

<div class="container">
    <h1>La vie du club de ping pong de Saint Barthélemy d'Anjou</h1>
    <p>
        C’est en 1969 que la section Tennis de Table fut créée à Saint Barthélemy d’Anjou à l’initiative de trois joueurs.
        L’organisation était rudimentaire… Les joueurs ne disposaient que d’une seule table qui était transportée le
        samedi près de la mairie de Saint Barthélemy dans l’ancien dispensaire aujourd’hui détruit près de la mairie de
        Saint Barthélemy d’Anjou.
        Les compétitions se déroulèrent ainsi pendant deux ans et ce n’est qu’en 1971 que la section tennis de table de Saint
        Barthélemy devint membre
        à part entière de l’Association Sportive et Culturelle de Saint Barthélemy d’Anjou (ASCSB).
        C’est à ce moment-là que, disposant désormais d’une salle pour s’entraîner sur 4 tables dans la salle de la
        Venaiserie,
        la section tennis de table a pu véritablement démarrer et se structurer.
    </p>
    <p>
        A partir de 1976, le club de Saint Barthélemy prit une nouvelle dimension en s’installant avec la section musique et
        les majorettes dans une salle du tout nouveau complexe de la Gemmetrie.
    </p>
    <p>
        Nouvelle étape importante en 1979 : la salle devint spécifique à la section de tennis de table de St Barthélemy,
        ce qui présentait l’énorme avantage d’avoir des tables montées en permanence pour l’entrainement et les compétions
        et
        d’apporter des améliorations spécifiques à la pratique du tennis de table en compétition (sol, éclairage…).
        C’est encore à la Gemmetrie que les joueurs et joueuses du club font leurs gammes et tentent de porter les couleurs
        de Saint Barthélemy.
        Comprenant alors que le tennis de table ne se développerait à Saint Barthélemy qu’en accueillant de nouveaux joueurs et
        en privilégiant la formation,
        les dirigeants décidèrent d’axer leurs efforts sur l’accueil de jeunes joueurs en ouvrant des séances spécifiques
        dédiées aux scolaires.
        Cette ouverture aux jeunes de Saint Barthélemy et l’accueil de nouveaux licenciés donna une nouvelle dynamique au club.
        Ainsi jusqu’en 1985,
        le club vécut au rythme des montées successives en divisions supérieures et accroissait régulièrement le nombre de
        ses équipes engagées en championnat.
        A cette époque la section Tennis de Table comptait 40 jeunes et 35 adultes qui défendaient les couleurs de Saint
        Barthélemy au sein de cinq équipes adultes,
        deux équipes de jeunes et une équipe féminine.
        L’équipe fanion évoluait alors au niveau régional et présentait une moyenne d’âge de 20 ans.
        Il avait donc fallu une dizaine d’années pour que, grâce à l’action efficace de ses créateurs et de ses bénévoles,
        le club de tennis de table de Saint Barthélemy soit connu et reconnu pour sa convivialité et le niveau sportif de
        ses membres.
    </p>
    <p>
        Vint ensuite une période d’une trentaine d’années au cours desquelles le club vécut au rythme des compétitions avec
        leurs lots de succès et de défaites,
        de montées en division supérieure et de rétrogradations au niveau inférieur. L’entrain, la convivialité et la bonne
        humeur restaient les maitres mots des membres du
        club qui ne manquaient aucune occasion pour organiser concours de belote et autres festivités.
        C’est à cette époque aussi que le club de tennis de table de Saint Barthélemy s’ouvrit à de nouveaux publics. Ainsi, à
        l’automne 2010, fut créée une section handisports
        qui favorisa bien sûr la pratique des personnes handicapées mais aussi intensifia les relations entre les joueurs
        valides ou non.
    </p>
    <p>
        Puis vint le temps du déclin… A l’image de ce qui se passait dans une majorité de « petits » clubs du département,
        la section tennis de table eut à
        déplorer une diminution du nombre de ses licenciés et des pratiquants « loisirs ». L’attractivité du tennis de table
        en compétition et le nombre de nouvelles activités,
        parfois moins contraignantes et plus à la mode, entraînaient démotivation et départs de joueurs.
        Là encore, le club sut réagir. En 2015, fut élue une nouvelle équipe dirigeante qui, sous l’impulsion de ses deux
        co-présidents, s’efforce de relancer une dynamique qui,
        il n’y a pas si longtemps, faisait du club de tennis de table de Saint Barthélemy un adversaire avec lequel il fallait
        compter dans les salles.
        Les premiers résultats sont là : l’hémorragie des membres du club confirmés semble s’être arrêtée et les
        entrainements des jeunes avec un entraîneur diplômé font à
        nouveau le plein le mercredi entre 18 heures et 20 heures.
    </p>
    <p>
        Par ailleurs, le club, désormais devenu T2T Saint Barthélemy, ne manque aucune occasion pour se faire connaître et
        d’aller à la rencontre de futurs pratiquants potentiels.
        En témoignent le tournoi interne ouvert à tous ou les accueils de découverte organisés auprès des écoles de Saint
        Barthélemy avec le soutien de la municipalité de Saint Barthélemy d'Anjou et
        du Comité de Maine et Loire de Tennis de table.
    </p>
</div>

{% include 'footer.html.twig' %}
