{# templates/history.html.twig #}
{% include 'header.html.twig' %}
<style type="text/css">

	/* Parent */
	.parentSwiper {
		width: 500px;
	}

	/* Swiper2 */
	.mySwiper2 {
		height: 300px;
	}

	.mySwiper2 .swiper-slide {
		overflow: hidden;
	}

	/* Swiper */
	.mySwiper {
		height: 50px;
		padding-top: 10px;
	}

	.mySwiper .swiper-slide {
		opacity: 0.4;
	}

	.mySwiper .swiper-slide-thumb-active {
		opacity: 1;
	}

	.mySwiper .swiper-slide img {
		width: 100%;
		height: 100%;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function(event) {
		var swiper = new Swiper('.swiper', {
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			},
			thumbs: {
				swiper: swiper,
			},
			autoplay: {
				delay: 2500,
				disableOnInteraction: false
			}
		});
	});
</script>

	<div class="swiper">
		<div class="swiper-wrapper">
        {% for image in images %}
	        <div class="swiper-slide">
	        	<div class="swiper-zoom-container">
		          	<img src="images/swiper/{{ image }}" />
				</div>
	        </div>
    	{% endfor %}
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>
	<div id="main" class="container">
		<h1 class="d-none">T2T Saint Barthélemy</h1>

		<div class="row">
			<div class="col-12 col-lg-8">
				<h2>La vie du club de Saint Barthélemy d'Anjou</h2>
				<p>
					C’est en 1969 que la section Tennis de Table fut créée à Saint Barthélemy d’Anjou à l’initiative de trois joueurs. L’organisation était rudimentaire… Les joueurs ne disposaient que d’une seule table qui était transportée le samedi près de la mairie de Saint Barthélemy dans l’ancien dispensaire aujourd’hui détruit près de la mairie de Saint Barthélemy d’Anjou. Les compétitions se déroulèrent ainsi pendant deux ans et ce n’est qu’en 1971 que la section tennis de table de Saint Barthélemy devint membre à part entière de l’Association Sportive et Culturelle de Saint Barthélemy d’Anjou (ASCSB). C’est à ce moment-là que, disposant désormais d’une salle pour s’entraîner sur 4 tables dans la salle de la Venaiserie, la section tennis de table a pu véritablement démarrer et se structurer.
				</p>

				<p>
					<a href="{{ path('history') }}" class="btn btn-primary">
						En savoir plus <i class="fa-solid fa-arrow-right"></i>
					</a>
					<!--<a href="/" class="btn btn-outline-primary">
						Adhésions <i class="fa-solid fa-user-plus"></i>
					</a>-->
				</p>

				<h2 class="espace">Le club</h2>
				<h3 class="h4 couleur">Organisation</h3>
				<p>
					<b>CO Présidents :</b> M BARREAUX Christian et M AUDOUIN Stéphane
					<br>
					<b>Secrétaire :</b> M PAVE Francis
					<br>
					<b>Trésorier :</b> Mme POIRIER Katy
					<br>
					<b>Entraineur Fédéral :</b> M LOISON Quentin
					<br>
					<b>Arbitre régional :</b> M AUREAL Frédéric
				</p>

				<h3 class="h4 couleur mt-5">Contact</h3>
				<p>
					Salle de la gemmetrie, 1 rue des lauriers
					<br>
					49124, Saint Barthélemy d'Anjou
					<br><br>
					Mail : t2t.stbarth@gmail.com
					<br>
					Téléphone : 0670310338
				</p>

				<p>
					<a href="mailto:t2t.stbarth@gmail.com" class="btn btn-primary">
						Contactez-nous <i class="fa-solid fa-paper-plane"></i>
					</a>
					<a href="https://www.facebook.com/T2TStBarth" target="_blank" class="btn btn-outline-primary">
						Suivez-nous <i class="fa-brands fa-facebook"></i>
					</a>
				</p>
			</div>

			<div class="mt-5 mt-lg-0 col-12 col-lg-4">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h3 class="h5">
									<i class="fa-solid fa-clock"></i> Horaires
								</h3>
							</div>
							<div class="card-body">
								<p>A partir du 01/09/2022</p>

								<h4 class="h6">Entraînements dirigés et encadrés</h4>
								<ul>
									<li>
										<b>Pour tous les jeunes à partir de 8 ans</b>
										<br>
										le mercredi de 19h à 20h30
									</li>
								</ul>

								<h4 class="h6">Entraînements libres (sans entraîneur)</h4>
								<ul>
									<li>
										<b>Pour tous les licenciés adultes</b>
										<br>
										le mardi et jeudi de 20 à 23h (fin des entraînements 22h45 MAXI)
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<div id="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.5499993914045!2d-0.494706484138216!3d47.45971070610622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4808781d0e2ba9d9%3A0x5713cad289cd5dea!2s1%20Rue%20des%20Lauriers%2C%2049124%20Saint-Barth%C3%A9lemy-d'Anjou!5e0!3m2!1sfr!2sfr!4v1639908363892!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="classement">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2>Le classement</h2>
				</div>

				<div class="col-12 col-md-4">
					<div class="classement text-center">
						<i class="h2 fa-solid fa-child"></i>
						<br>
						<span class="h3">Junior</span>
						<br>
						<a href="{{ path('championship_junior') }}">Consulter le classement</a>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="classement text-center">
						<i class="h2 fa-solid fa-table-tennis-paddle-ball"></i>
						<br>
						<span class="h3">Sénior</span>
						<br>
						<a href="{{ path('championship_senior') }}">Consulter le classement</a>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="classement text-center">
						<i class="h2 fa-solid fa-trophy"></i>
						<br>
						<span class="h3">Vétéran</span>
						<br>
						<a href="{{ path('championship_veteran') }}">Consulter le classement</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% include 'footer.html.twig' %}
