{# templates/club/club.html.twig #}
{% include 'header.html.twig' %}

    <h1>Détails d'un club</h1>

    {# {{ club.idclub }} #}
    <p>Numéro de club : {{ club.numero }}</p>
    <p>Nom de la salle : {{ club.nomsalle }}</p>
    <p>Adresse : {{ club.adressesalle1 }}, {{ club.adressesalle2 }} {{ club.adressesalle3 }}
        <br />{{ club.codepsalle }}<br />{{ club.villesalle }}</p>
    <p>{{ club.web }}</p>
    {% if club.numero == app.request.server.get('APP_FFTT_API_CLUB_NUMERO') %}
        <p>Co-Président : {{ club.nomcor }} {{ club.prenomcor }} et AUDOUIN	Stephane</p>
        <p>Mail : {{ app.request.server.get('club_email') }}</p>
        <p>Téléphone : {{ club.telcor }} ou 0670310338</p>
    {% else %}
        <p>Président : {{ club.nomcor }} {{ club.prenomcor }}</p>
        <p>Mail : {{ club.mailcor }}</p>
        <p>Téléphone : {{ club.telcor }}</p>
    {% endif %}  
    {#{{ club.latitude }}</p>
    {{ club.longitude }}</p>#}

    {% if count is defined %}
        <p>Nombre de joueurs {{ count.players }}</p>
        <p>Nombre de licenciés <a href="{{ path('list_members', {'idClub' : club.numero}) }}">{{ count.members }}</a></p>
    {% endif %}

    {% if players is defined %}
        {{ include('player/players.html.twig', {'players':players}) }}
    {% endif %}

{% include 'footer.html.twig' %}
