{# templates/club/clubs.html.twig #}
{% include 'header.html.twig' %}

    <h1>Liste des différents clubs</h1>
    <table>
    	<tr>
    		<td>Id club</td>
    		<td>Numéro club</td>
    		<td>Nom du club</td>
    		<td>Date de validation</td>
    	</tr>
    {% for club in clubs %}
        <tr>
            <td>{{ club.idclub }}</td>
            <td>{{ club.numero }}</td>
            <td><a href="{{ path('club', {'idClub' : club.numero}) }}">{{ club.nom }}</a></td>
            <td>{{ club.validation }}</td>
        </tr>
    {% endfor %}
	</table>

{% include 'footer.html.twig' %}